<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card shadow-effect bg-secondary-theme">
                <div class="card-body text-centre">
                    <h3 class="text-center text-theme-primary">All Blog Posts</h3>
                    <p class="text-center">From here you can manage your blog posts</p>
                    <div class="justify-content-center d-flex">
                        <button class="btn btn-info bg-theme text-white" routerLink="new">Add new post</button>
                        <button class="btn btn-warning ms-2" routerLink="">Back to Dashboard</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
