<div class="container">
    <!-- <div class="row"> -->
        <div class="col-md-12 text-center">
            <h3 class="text-theme-primary">Add New Post</h3>
            <p class="mb-5">Add your new post here</p>

            <form action="">
                <div class="row">
                <div class="col-md-7">
                    <div class="card shadow-effect">
                        <div class="card-body">
                            <div class="form-group">
                                <label>Title</label>
                                <input type="text" class="form-control" name="postTitle" [(ngModel)]="postTitle" (input)="submitTitle()">
                            </div>
                            <div class="form-group">
                                <label >Permalink</label>
                                <input type="html" class="form-control" name="permaLink" [(ngModel)]="permaLink" disabled>
                            </div>
                            <div class="form-group mt-5">
                                <label>Excerpt</label>
                                <textarea rows="10" type="text" class="form-control"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        <label for="">Please Select a post category</label>
                        <select class="form-control">
                            <option value="" disabled selected>--Select--</option>
                            <option *ngFor="let category of categories">{{category.data.catName}}</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="">Post Image</label>
                        <img [src]="imgSrc" class="form-control img-fluid img-preview" alt="">
                        <input type="file" class="form-control" accept="image/*" name="newImg" [(ngModel)]="newImg" (change)="uploadImg($event)">
                    </div>
                </div>
                </div>
                <div class="row mt-3 mb-5">
                    <div class="col-md-12">
                        <div class="card shadow-effect">
                            <div class="card-body">
                                <div class="form-group">
                                    <label for="">Content</label>
                                    <angular-editor placeholder="Add content"></angular-editor>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 text-center mb-5 mt-3">
                        <button class="btn btn-info btn-theme">Save Post</button>
                        <button class="btn btn-info btn-warning ms-5" routerLink="/posts">Go back to Posts</button>
                    </div>
                </div>
            </form>
        </div>
    <!-- </div> -->
</div>
